<!DOCTYPE html>
<html>
<head>
    <title>CRUD</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
            margin-top: 30px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            margin-right: 10px;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        select {
            width: 200px;
            padding: 5px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            padding: 8px 12px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        ul {
            margin-top: 10px;
            margin-bottom: 10px;
            list-style-type: none;
            padding: 0;
        }

        li {
            color: red;
        }
    </style>
</head>
<body>
    <h1>CRUD приложение для работы с базой данных</h1>

    <h2>Список преподавателей</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Кафедра</th>
                <th>Пол</th>
                <th>Дата рождения</th>
                <th>Звание</th>
                <th>Должность</th>
                <th>Педагогический стаж</th>
                <th>Общий стаж</th>
                <th>Номер телефона</th>
                <th>Почта</th>
                <th>Количество человек в группе</th>
                <th>Количество групп</th>
                <th>Подразделение</th>
                <th>Название программы</th>
                <th>Дата начала обучения</th>
                <th>Дата окончания обучения</th>
                <th>Расписание</th>
                <th>Количество часов</th>
                <th>Образование</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.0 }}</td>
                <td>{{ teacher.1 }}</td>
                <td>{{ teacher.2 }}</td>
                <td>{{ teacher.3 }}</td>
                <td>{{ teacher.4 }}</td>
                <td>{{ teacher.5 }}</td>
                <td>{{ teacher.6 }}</td>
                <td>{{ teacher.7 }}</td>
                <td>{{ teacher.8 }}</td>
                <td>{{ teacher.9 }}</td>
                <td>{{ teacher.10 }}</td>
                <td>{{ teacher.11 }}</td>
                <td>{{ teacher.12 }}</td>
                <td>{{ teacher.13 }}</td>
                <td>{{ teacher.14 }}</td>
                <td>{{ teacher.15 }}</td>
                <td>{{ teacher.16 }}</td>
                <td>{{ teacher.17 }}</td>
                <td>{{ teacher.18 }}</td>
                <td>{{ teacher.19 }}</td>
                <td>
                    <a href="{{ url_for('edit_teacher', id=teacher.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_teacher', id=teacher.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Список слушателей</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Пол</th>
                <th>Дата рождения</th>
                <th>Гражданство</th>
                <th>Общая сумма</th>
                <th>Сумма оплаты 1</th>
                <th>Сумма оплаты 2</th>
                <th>Поступившие средства</th>
                <th>Осталось оплатить</th>
                <th>Срок оплаты</th>
                <th>ФИО плательщика</th>
                <th>Банк</th>
                <th>Подразделение</th>
                <th>Категория слушателя</th>
                <th>Вид программы</th>
                <th>Название программы</th>
                <th>Количество часов</th>
                <th>Дата начала обучения</th>
                <th>Дата окончания обучения</th>
                <th>Группа</th>
                <th>Расписание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for lt in list %}
            <tr>
                <td>{{ lt.0 }}</td>
                <td>{{ lt.1 }}</td>
                <td>{{ lt.2 }}</td>
                <td>{{ lt.3 }}</td>
                <td>{{ lt.4 }}</td>
                <td>{{ lt.5 }}</td>
                <td>{{ lt.6 }}</td>
                <td>{{ lt.7 }}</td>
                <td>{{ lt.8 }}</td>
                <td>{{ lt.9 }}</td>
                <td>{{ lt.10 }}</td>
                <td>{{ lt.11 }}</td>
                <td>{{ lt.12 }}</td>
                <td>{{ lt.13 }}</td>
                <td>{{ lt.14 }}</td>
                <td>{{ lt.15 }}</td>
                <td>{{ lt.16 }}</td>
                <td>{{ lt.17 }}</td>
                <td>{{ lt.18 }}</td>
                <td>{{ lt.19 }}</td>
                <td>{{ lt.20 }}</td>
                <td>{{ lt.21 }}</td>
                <td>
                    <a href="{{ url_for('edit_list', id=lt.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_list', id=lt.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Кафедры</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
            <tr>
                <td>{{ department.0 }}</td>
                <td>{{ department.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_department', id=department.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_department', id=department.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Банк</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for banks in bank %}
            <tr>
                <td>{{ banks.0 }}</td>
                <td>{{ banks.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_bank', id=banks.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_bank', id=banks.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Звание</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for zv in zvanie %}
            <tr>
                <td>{{ zv.0 }}</td>
                <td>{{ zv.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_zvanie', id=zv.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_zvanie', id=zv.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Программы</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for pr in programm %}
            <tr>
                <td>{{ pr.0 }}</td>
                <td>{{ pr.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_programm', id=pr.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_programm', id=pr.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Подразделения</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for pd in podraz %}
            <tr>
                <td>{{ pd.0 }}</td>
                <td>{{ pd.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_podraz', id=pd.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_podraz', id=pd.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Категория слушателей</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for ls in listen %}
            <tr>
                <td>{{ ls.0 }}</td>
                <td>{{ ls.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_listen', id=ls.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_listen', id=ls.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Группы</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for gr in groupp %}
            <tr>
                <td>{{ gr.0 }}</td>
                <td>{{ gr.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_groupp', id=gr.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_groupp', id=gr.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Пол</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for gd in gender %}
            <tr>
                <td>{{ gd.0 }}</td>
                <td>{{ gd.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_gender', id=gd.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_gender', id=gd.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Должность</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for dl in dol %}
            <tr>
                <td>{{ dl.0 }}</td>
                <td>{{ dl.1 }}</td>
                <td>
                    <a href="{{ url_for('edit_dol', id=dl.0) }}">Редактировать</a>
                    <a href="{{ url_for('delete_dol', id=dl.0) }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Добавить преподавателя</h2>
<form method="POST" action="{{ url_for('add_teacher') }}">
    <label for="name">ФИО:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="department">Кафедра:</label>
    <select id="department" name="department" required>
        {% for department in departments %}
        <option value="{{ department.0 }}">{{ department.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="gender">Пол:</label>
    <select id="gender" name="gender" required>
        {% for gd in gender %}
        <option value="{{ gd.0 }}">{{ gd.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="br">Дата рождения:</label>
    <input type="text" id="br" name="br" required>
    <br>
    <label for="zvanie">Звание:</label>
    <select id="zvanie" name="zvanie" required>
        {% for zv in zvanie %}
        <option value="{{ zv.0 }}">{{ zv.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="dol">Должность:</label>
    <select id="dol" name="dol" required>
        {% for dl in dol %}
        <option value="{{ dl.0 }}">{{ dl.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="pstag">Педагогический стаж:</label>
    <input type="text" id="pstag" name="pstag" required>
    <br>
    <label for="ostag">Общий стаж:</label>
    <input type="text" id="ostag" name="ostag" required>
    <br>
    <label for="number">Номер телефона:</label>
    <input type="text" id="number" name="number" required>
    <br>
    <label for="email">Почта:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="kolvo1">Количество человек в группе:</label>
    <input type="text" id="kolvo1" name="kolvo1" required>
    <br>
    <label for="kolvo2">Количество групп:</label>
    <input type="text" id="kolvo2" name="kolvo2" required>
    <br>
    <label for="podraz">Подразделение:</label>
    <select id="podraz" name="podraz" required>
        {% for pd in podraz %}
        <option value="{{ pd.0 }}">{{ pd.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="namepr">Название программы:</label>
    <input type="text" id="namepr" name="namepr" required>
    <br>
    <label for="date2">Дата начала обучения:</label>
    <input type="text" id="date2" name="date2" required>
    <br>
    <label for="date3">Дата окончания обучения:</label>
    <input type="text" id="date3" name="date3" required>
    <br>
    <label for="raspis">Расписание:</label>
    <input type="text" id="raspis" name="raspis" required>
    <br>
    <label for="kolvo3">Количество часов:</label>
    <input type="text" id="kolvo3" name="kolvo3" required>
    <br>
    <label for="obraz">Образование:</label>
    <input type="text" id="obraz" name="obraz" required>
    <br>
    <button type="submit">Добавить</button>
</form>






    <h2>Добавить слушателя</h2>
<form method="POST" action="{{ url_for('add_list') }}">
    <label for="name">ФИО:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="gender1">Пол:</label>
    <select id="gender1" name="gender1" required>
        {% for gd in gender %}
        <option value="{{ gd.0 }}">{{ gd.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="br1">Дата рождения:</label>
    <input type="text" id="br1" name="br1" required>
    <br>
    <label for="graz">Гражданство:</label>
    <input type="text" id="graz" name="graz" required>
    <br>
    <label for="osum">Общая сумма:</label>
    <input type="text" id="osum" name="osum" required>
    <br>
    <label for="sum1">Сумма оплаты 1:</label>
    <input type="text" id="sum1" name="sum1" required>
    <br>
    <label for="sum2">Сумма оплаты 2:</label>
    <input type="text" id="sum2" name="sum2" required>
    <br>
    <label for="postup">Поступившие средства:</label>
    <input type="text" id="postup" name="postup" required>
    <br>
    <label for="ostal">Осталось оплатить:</label>
    <input type="text" id="ostal" name="ostal" required>
    <br>
    <label for="date22">Срок оплаты:</label>
    <input type="text" id="date22" name="date22" required>
    <br>
    <label for="name1">ФИО плательщика:</label>
    <input type="text" id="name1" name="name1" required>
    <br>
    <label for="bank">Банк:</label>
    <select id="bank" name="bank" required>
        {% for banks in bank %}
        <option value="{{ banks.0 }}">{{ banks.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="podraz1">Подразделение:</label>
    <select id="podraz1" name="podraz1" required>
        {% for pd in podraz %}
        <option value="{{ pd.0 }}">{{ pd.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="listen">Категория слушателя:</label>
    <select id="listen" name="listen" required>
        {% for ls in listen %}
        <option value="{{ ls.0 }}">{{ ls.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="programm">Программа:</label>
    <select id="programm" name="programm" required>
        {% for pr in programm %}
        <option value="{{ pr.0 }}">{{ pr.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="namepr1">Название программы:</label>
    <input type="text" id="namepr1" name="namepr1" required>
    <br>
    <label for="kolvo11">Количество часов:</label>
    <input type="text" id="kolvo11" name="kolvo11" required>
    <br>
    <label for="date33">Дата начала обучения:</label>
    <input type="text" id="date33" name="date33" required>
    <br>
    <label for="date44">Дата окончания обучения:</label>
    <input type="text" id="date44" name="date44" required>
    <br>
    <label for="groupp">Группа:</label>
    <select id="groupp" name="groupp" required>
        {% for gr in groupp %}
        <option value="{{ gr.0 }}">{{ gr.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="raspis1">Расписание:</label>
    <input type="text" id="raspis1" name="raspis1" required>
    <br>
    <button type="submit">Добавить</button>
</form>












    <h2>Добавить кафедру</h2>
    <form method="POST" action="{{ url_for('add_department') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить пол</h2>
    <form method="POST" action="{{ url_for('add_gender') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить должность</h2>
    <form method="POST" action="{{ url_for('add_dol') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить группу</h2>
    <form method="POST" action="{{ url_for('add_groupp') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить слушателя</h2>
    <form method="POST" action="{{ url_for('add_listen') }}">
        <label for="name">ФИО:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить подразделение</h2>
    <form method="POST" action="{{ url_for('add_podraz') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить программу</h2>
    <form method="POST" action="{{ url_for('add_programm') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить звание</h2>
    <form method="POST" action="{{ url_for('add_zvanie') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Добавить банк</h2>
    <form method="POST" action="{{ url_for('add_bank') }}">
        <label for="name">Название:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Добавить</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
